<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="User.Name" value="TesterName"/>
    <add key="User.Name.Incorrect" value="111"/>
    <add key="User.PNumber" value="375292627647"/>
    <add key="User.PNumber.Incorrect" value="111"/>
    <add key = "User.FutureDate" value = "2020-11-30"/>
    <add key = "PastDate" value = "2019-12-15"/>
    <add key = "User.PastDate" value = "2019-12-15"/>
    <add key = "User.PastDate.Incorrect" value = "2020-12-01"/>
    <add key="User.EMail" value="test.epam.katya.shepina@mail.ru"/>
    <add key="User.EMail.Incorrect" value="one.two@"/>
    <add key="User.PNumber.Incorrect" value="123456789999"/>
    <add key="User.Price" value="100"/>
    <add key="User.Price.Incorrect" value="0"/>
  </appSettings>
</configuration>